/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 
If the above width is causing issues use this in the main img css 

img.oversized {
  max-width: revert;
}
*/


/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root {
  --light-font-color: #DEEDEA;
  --dark-font-color: #162724;
  --standard-border: 3px solid var(--dark-background-color);
  --dark-border: 3px solid var(--dark-font-color);
  --standard-radius: 20px;
}


body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--dark-font-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 80vw;
}

.location {
  font-size: 5rem;
  border-bottom: var(--dark-border);
}

.weather-data {
  font-size: 2rem;
}

.conditions {
  font-size: 3rem;
}
