/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 
If the above width is causing issues use this in the main img css 

img.oversized {
  max-width: revert;
}
*/


/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root {
  --header-background: #dee7ed;
  --light-font-color: #DEEDEA;
  --dark-font-color: #162724;
  --standard-border: 3px solid var(--dark-background-color);
  --dark-border: 3px solid var(--dark-font-color);
  --standard-radius: 10px;
  --highlight-colour: rgb(190, 96, 96);
}



body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--dark-font-color);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

main {
  width: 80vw;
  place-self: center;
}

.location {
  font-size: 5rem;
  border-bottom: var(--dark-border);
}

.weather-data {
  font-size: 2rem;
}

.conditions {
  font-size: 3rem;
}

form input {
  border-bottom-left-radius: var(--standard-radius);
  border-top-left-radius: var(--standard-radius);
  height: 50px;
  width: 300px;
  border: transparent;
  margin: 0;
  padding-left: 10px;
}


form button {
  border-bottom-right-radius: var(--standard-radius);
  border-top-right-radius: var(--standard-radius);
  height: 50px;
  width: 150px;
  border: transparent;
  margin: 0;
  background-color: var(--highlight-colour);
}

/* loader */
.loader {
    border: 5px solid var(--light-font-color); 
    border-top: 5px solid var(--dark-font-color); 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
